$green: #66C05D;
$light-grey: #C4C4C4;
$lgrey: #828282;
$grey: #EFEFEF;
$dark-grey: #33333;

/* FONTS */

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('Roboto.woff2') format('woff2'), url('Roboto.woff') format('woff'), url('Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('Robotomedium.woff2') format('woff2'), url('Robotomedium.woff') format('woff'), url('Robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('Robotobold.woff2') format('woff2'), url('Robotobold.woff') format('woff'), url('Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.container {
	width: 1100px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	padding: 0;
	letter-spacing: 0em;
	margin: 0 auto;
	font-size: 14px;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

p {
	margin: 0;
}

ul, li {
	display: block;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	font-weight: 700;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active {
	outline: none;
}

button:focus {
	box-shadow: none;
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
}

.btn {
    border-color: $green;
    border: 2px solid;
	border-radius: 28.96px;
}

.header {
	text-align: -webkit-center;
}

.nav {
    background-color: $grey;
	display: flex;
	justify-content: center;
}

.menu {
	margin-top: 20px;
	margin-bottom: 18px;
	display: flex;
}

.menu__item a {
	margin-right: 32px;
}

.menu__item a, .menu__item a:hover, .menu__item a:active {
	color: $grey;
}

.info {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 19px;
}

.logo {
	display: flex;
	align-items: center;
}

.logo__text {
	text-transform: uppercase;
	color: $green;
	font-weight: 700;
	font-size: 36px;
	margin-left: 22px;
}

.feedback {
	display: flex;
	align-items: center;
}

.feedback__btn {
	padding: 13px 25px;
	margin-left: 43px;
	background-color: #fff;
}

.category {
	margin-top: 32px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
}

.category__item a {
	margin-right: 43px;
}

.offer {
	padding-top: 200px;
	padding-bottom: 193px;
	color: #fff;
	background: url(img/Rectangle 2.svg) no-repeat center center;
	display: flex;
	justify-content: center;
}

.offer-info__text {
	padding-top: 43px;
	padding-bottom: 47px;
}

.offer-info__btn {
	border-color: #fff;
	padding: 13px 45px;
	background-color: $green;
}

.special {
	padding-top: 84px;
	background-color: $grey;
	display: flex;
	justify-content: center;
	align-items: center;
}

.special-offers {
	display: flex;
	justify-content: space-between;
}

.special-product {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

.product {
	padding-top: 25px;
	background-color: #fff;
	text-align: center;
}

.product__description {
	margin-top: 23px;
	margin-bottom: 24px;
}

.product__cost {
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 21px;
}

.product__btn {
	padding: 9px 38px;
	border-color: $green;
	background-color: $green;
	color: #fff;
}

.additional-info {
	display: flex;
	background-color: $grey;
	justify-content: center;
}

.additional {
	display: flex;
	justify-content: space-between;
}

.subscription {
	padding: 42px 40px 35px 45px;
	background-color: &green;
	display: flex;
	align-items: center;
}

.subscription img {
	width: 50%;
	height: 50%;
}

.bonus {
	margin-right: 63px;
}

.bonus input {
	margin-top: 32px;
	border: none;
	border-radius: 28.96px;
	color: $light-grey;
	padding: 13px 106px 13px 26px;
	background-color: #fff;
}

.address {
	padding: 42px 300px 35px 45px;
	background-color: $green;
	color: #fff;
	align-items: center;
}

.address__text {
	margin-top: 30px;
	margin-bottom: 32px;
}

.address__btn {
	border-color: #fff;
	background-color: $green;
	padding: 12px 28px 11px 27px;
}

.footer {
	display: flex;
	justify-content: center;
}

.footer-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 57px;
	padding-bottom: 55px;
}

.social {
	display: flex;
	align-items: center;
}

.social__item {
	border-radius: 28.96px;
	border: 2px solid;
	border-color: $green;
	margin-right: 20px;
}

.social__item img {
	display: block;
}

.social__item__youtube {
	padding: 13px 9px;
}

.social__item__vk {
	padding: 13px 6px;
}

.social__item__facebook {
	padding: 11px 15px;
}

.social__item__instagram {
	padding: 10px;
}

.security {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	color: $lgrey;
	padding-bottom: 26px;
}